<p id="notice"><%= notice %></p>
<h2>Teams</h2>
<table>
	<thead>
		<tr>
			<th>Name</th>
		</tr>
	</thead>
	<tbody>
	<% @teams.each do |team| %>
		<tr>
			<td><%= team.name %></td>
		</tr>
	<% end %>
	</tbody>
</table>
<br />
<%= link_to 'Add a Team', new_team_path %>