<a href="http://www.facebook.com/MakeMeABaseballCard" target="_blank">Facebook</a> | 
<a href="https://twitter.com/?category=people#!/MakeMeABaseball" target="_blank">Twitter</a> | 
<a href="http://www.russthebus.com" target="_blank">Blog</a>