<div id="browser-warning" class="ui-widget">
	<div class="ui-state-error ui-corner-all" style="padding: 0.7em;">
		<p>	
			<span class="ui-icon ui-icon-alert" style="float:left; margin-right: .3em;"></span>
			<strong>Warning!</strong>
			You are using an out dated browser.  Site works best with the latest version of <a href="http://windows.microsoft.com/en-us/internet-explorer/products/ie/home">IE9</a>, <a href="http://www.mozilla.org/en-US/firefox/new/">Firefox</a>, <a href="https://www.google.com/intl/en/chrome/browser/">Chrome</a> or <a href="http://www.apple.com/safari/download/">Safari</a>.  Please consider upgrading your browser
		</p>
	</div>
</div>