<h2>What's new?</h2>
<ul>
	<li>Share your card directly to Twitter & Facebook.</li>
	<li>Added a few more ads to (hopefully) help with the hosting costs, Sorry!</li>
	<li>Few minor updates to make the site faster.</li>
	<li>Working on a mobile friendly version or app.  Hoping to launch by Fall season.</li>
</ul>
<p class="bottom"><script type="text/javascript"><!--
google_ad_client = "ca-pub-7407856351737007";
/* makeme */
google_ad_slot = "6994441098";
google_ad_width = 468;
google_ad_height = 60;
//-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script></p>