<h2>What's new?</h2>
<ul>
	<li>EVERYTHING!  We just launched in March.  Hope you like it</li>
</ul>
<p class="bottom">Follow me on: <a href="http://www.facebook.com/MakeMeABaseballCard" target="_blank">Facebook</a></p>