<% content_for(:title) do %>
	Make Me A Baseball Card | Track your stats and print your very own baseball card
<% end %>
<div class="two-thirds">
	<h2>Create your very own Baseball card</h2>
	<p>Feel like a MVP as you track your stats game over game, season over season.  You can even print your very own baseball card to give to friends and family!</p>
	<br />
	<%= link_to('Get Started', new_player_registration_path, :id => 'get-started', :class => 'fake-button') %> 
	<br /> <br />
	<p>Already have an account?  <%= link_to('Sign in', new_player_session_path)  %></p>
</div>
<div class="third">
	<div class="card-front">
		<img id="player-picture" src="/images/avatar_placeholder.png" />
		<div class="player-name">
			Your Name Here
		</div>
	</div>
</div>


<script type="text/javascript">
	$(function() {
		$("#browser-warning").show("blind", "slow");
	});
</script>