<div id="example-cards">
	<img src="/images/rosie.png" />
	<div class="player-name">
		Example
	</div>
</div>
<h2>Create your own Baseball Card</h2>
<p>With MakeMeABaseballCard.com you can turn yourself into your very own custom baseball card!  Feel like a MVP when you track your stats game over game, season over season.  Choose from iconic baseball card templates or design your own.  Show off your skills by posting your card to Facebook.  You can even print your very own baseball card to give to friends and family!</p>
<br />
<%= link_to('Get Started > ', new_player_registration_path, :id => 'get-started') %> 
<br /> <br />
<p>Already have an account?  <%= link_to('Sign in', new_player_session_path)  %></p>