<h2>Games:</h2>
<table border ="3px"> 
	<tr>
		<td><b>Game Name:</b></td>
		<td><b>At Bats:</b></td>
		<td><b>Runs:</b></td>
		<td><b>Hits:</b></td>
		<td><b>Singles:</b></td>
		<td><b>Doubles:</b></td>
		<td><b>Triples:</b></td>
		<td><b>Homeruns:</b></td>
		<td><b>RBIs:</b></td>
		<td><b>Walks:</b></td>
		<td><b>Game Total Bases:</b></td>
		<td><b>Game Batting Average:</b></td>
		<td><b>Game On Base %:</b></td>
		<td><b>Game Slugging %:</b></td>
	</tr>