<div id="bio-notes">
	<p><%= @player.notes %></p>
</div>
<table id="player-bio" class="stats-table" cellspacing="0px" cellpadding="0px" width="20%">
	<tbody>
		<tr>
			<td class="attribute">Bats:&nbsp;&nbsp;</td>
			<td class="value"><%= @player.bats %></td>
		</tr>
		<tr>
			<td class="attribute">Throws:&nbsp;&nbsp;</td>
			<td class="value"><%= @player.throws %></td>
		</tr>
	</tbody>
</table>
