<div id="bio-notes">
	<p>This is where additional notes about the player will go.  They can add a few sentences or whatever and we'll put it here.  Hopefully it'll wrap and things will look good if it does wrap around...</p>
</div>
<table id="player-bio" class="stats-table" cellspacing="0px" cellpadding="0px" width="20%">
	<tbody>
		<tr>
			<td class="attribute">Bats:&nbsp;&nbsp;</td>
			<td class="value">Right</td>
		</tr>
		<tr>
			<td class="attribute">Throws:&nbsp;&nbsp;</td>
			<td class="value">Right</td>
		</tr>
	</tbody>
</table>
