<div id="bio-notes">
	<p style="margin-top:-7px;float:right">
		<script type="text/javascript"><!--
		google_ad_client = "ca-pub-7407856351737007";
		/* Make Me a Baseball Card */
		google_ad_slot = "6803588934";
		google_ad_width = 468;
		google_ad_height = 60;
		//-->
		</script>
		<script type="text/javascript"
		src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
		</script>
	</p>
</div>
<table id="player-bio" class="stats-table" cellspacing="0px" cellpadding="0px" width="20%">
	<tbody>
		<tr>
			<td class="attribute">Bats:&nbsp;&nbsp;</td>
			<td class="value"><%= @player.bats %></td>
		</tr>
		<tr>
			<td class="attribute">Throws:&nbsp;&nbsp;</td>
			<td class="value"><%= @player.throws %></td>
		</tr>
	</tbody>
</table>
