<p>Welcome!  Follow these simple steps to enter you batting statistics and we'll figure out how awesome you are.</p>
<ol>
	<li>Enter the name of the team you play for</li>
	<li>Select the date of your last game</li>
	<li>Enter the number of hits and at bats</li>
	<li>Log how many singles, doubles, triples, etc</li>
	<li>Click Add Game!</li>
</ol>
<p>Thanks for playing</p>