<div class="ui-widget-header ui-corner-all stats-head">Enter your first game</div>
<div id="lets-get-started">
	<p>In the scoreboard below:</p>
	<ol>
		<li>Enter your team name</li>
		<li>Select game date</li>
		<li>Enter your hits and at bats</li>
		<li>Enter how many singles, doubles, triples, etc</li>
		<li>Click Add Game!</li>
	</ol>
	<p>After that we'll track your batting average, slugging percentage, and a whole bunch of other stats.  Thanks for playing!</p>
</div>