<div id="player-list">
	<h2>The Players</h2>
	<%= render "list" %>
</div>
<div id="get-started">
	<h2>Create your own card</h2>
	<p>Here is where I will what I can do and why I think they should do it.  And here is some extra text to see how it's gonna wrap in a paragraph....
		<ul>
			<li>Reason 1</li>
			<li>Reason 1</li>
			<li>Reason 1</li>
		</ul>
	</p>
	<input type="button" id="start-button" value="Get Started" />
</div>

<div id="dialog" title="Create your card">
	<%= render "form" %>
</div>


<script>
$(function() {
	$( "#dialog" ).dialog({
		autoOpen: false,
		modal: true,
		width: 650,
		buttons: {
			"Create": function() {
				var bValid = true;
				//TODO:  Form validation: First name & Last Name not blank
				//TODO:  Error handling and presentation.
				if (bValid) {
					$('#new_player').submit();
				};
			},
			Cancel: function() {
				$( this ).dialog( "close" );
			}
		}
	});
	
	$("#start-button").click(function() {
		$("#dialog").dialog("open");
		return false;
	});
});



</script>