// Place all the styles related to the Players controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.player_card {
	background-image: url('/images/tops_template.png');
	width: 268px;
	height: 372px;
	float:left;
}
.player_picture {
	position: absolute;
	top: 98px;
	left: 32px;
	width: 220px;
	height: 248px;
}
.player_name {
	position: absolute;
	top: 350px;
	left: 32px;
	background-color: #FA4600;
	width: 220px;
	height: 16px;
	text-align: center;
}
.player_stats {
	margin-left: 300px;
}

.games{
	clear:both;
	padding-top: 5px;
}