// Place all the styles related to the Players controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#card-front {
	background-image: url('/images/tops_template.png');
	background-repeat: no-repeat;
	width: 33%;
	height: 350px;
	float:left;
	margin-left: 10px;
	img {
		margin-left:22px;
		margin-top:78px;
		width: 205px;
	}
	h2 {
		text-align:center;
		margin-top:0px;
		margin-left:22px;
		width: 205px;
		font-weight:bold;
		font-size:13px;
	}
}
#player-stats {
	width: 66%;
	margin-left: 33%;
	background-color:#000;
	height: 350px;
	color:#FFF;
}
#name-position {
	margin:0px 10px 0px 10px;
	padding:10px 0px 10px 0px;
	width:97%;
	td{
		font-size:22pt;
	}
}
#position {
	text-align:right;
}
h3 {
	margin:10px;
	padding:10px;
/* Safari 4-5, Chrome 1-9 */ background: -webkit-gradient(linear, left top, right top, from(#000), to(#880D21)); 
/* Safari 5.1, Chrome 10+ */ background: -webkit-linear-gradient(left, #880D21, #000); 
/* Firefox 3.6+ */ background: -moz-linear-gradient(left, #880D21, #000);
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	font-size:18pt;
}
.header th {
	background-color:#CDCDCD;
}
.stats-table{
	font-size: 10pt;
	text-align: center;
}
#player-bio .attribute {
	text-align:right;
	.value {
		text-align:left;
	}
}
#bio-notes {
	float:right;
	width: 75%;
}
#add-a-game {
	width:100%;
	table {
		background-image:url('/images/light_bg.png');
		color:#fff;
		text-align:center;
		margin:auto;
	}
	th,td {
		border:1px solid #DCDCDC;
		padding:3px;
		font-size:14px;
	}
	input {
		background-image:url('/images/light_bg.png');
		border: none;
		color:#fff;
		font-size:14px;
		text-align:center;
	}
}