// Place all the styles related to the Players controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



#card-front {
	background-image: url('/images/card-assets/tops_template.png');
	background-repeat: no-repeat;
	width: 26%;
	min-height: 350px;
	float:left;
	img {
		margin-left:22px;
		margin-top:78px;
		width: 205px;
	}
	.player-name {
		text-align:center;
		margin-top:0px;
		margin-left:22px;
		width: 205px;
		font-weight:bold;
		font-size:13px;
		line-height:16px;
	}
}

#edit-player-dd {
	text-align: center;
	margin: 5px 0px 5px 0px;
}

#player-stats {
	margin-left: 27%;
	background-color:#000;
	height: 390px;
	color:#FFF;
}
#name-position {
	margin:0px 10px 0px 10px;
	padding:10px 0px 10px 0px;
	width:97%;
	td{
		font-size:22pt;
	}
}
#position {
	text-align:right;
}
.stats-head {
	margin:10px;
	padding:10px;
	border:none;
	font-size:18pt;
}
.header th {
	background-color:#CDCDCD;
}
.stats-table{
	font-size: 10pt;
	text-align: center;
	margin-left:10px;
}
#player-bio .attribute {
	text-align:right;
	.value {
		text-align:left;
	}
}
#bio-notes {
	float:right;
	width: 75%;
}
.score-board {
	width:100%;
	table {
		background-image:url('/images/scoreboard/light_bg.png');
		color:#fff;
		text-align:center;
		margin:auto;
	}
	th,td {
		border:1px solid #DCDCDC;
		padding:3px;
		font-size:14px;
		min-width:50px;
	}
	input {
		background-image:url('/images/scoreboard/light_bg.png');
		border: none;
		color:#fff;
		font-size:14px;
		text-align:center;
		padding:0px;
	}
}