// Place all the styles related to the Players controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.player-card {
	background-image: url('/images/tops_template.png');
	width: 268px;
	height: 372px;
	float:left;
	margin:10px;
}
.player-picture {
	margin-left:25px;
	margin-top:83px;
	width: 220px;
	height: 248px;
}
.player-name {
	margin-top:0px;
	margin-left:25px;
	background-color: #FA4600;
	width: 220px;
	height: 16px;
	text-align: center;
}

.player-stats {
	margin: 10px 0px 0px 295px;
}
h2 {
	padding:10px 0px 10px 0px;
}
.stats-table td, .stats-table th  {
	border: 1px solid #fff;
	padding:3px;
	background-color:#CDCDCD;
}

.games{
	clear:both;
	padding:5px;
}