
* {
	font-family: Trebuchet MS,Tahoma,Verdana,Arial,sans-serif;
	margin:0px;
	padding:0px;
}

#player-picture {
	position:absolute;
	left:22px;
	top:78px;
	width:205px;
}
#front-player-name {
	position:absolute;
	font-family: Trebuchet MS,Tahoma,Verdana,Arial,sans-serif;	
	color:#F8F8F8;
	width:205px;
	top:310px;
	left:22px;
	text-align:center;
}


#print-card-back {
	position:absolute;
	top:0px;
/* Rotation */
	margin:48px 0px 0px -48px;
	transform: rotate(-90deg);
	-ms-transform: rotate(-90deg); /* IE 9 */
	-webkit-transform: rotate(-90deg); /* Safari and Chrome */
	-o-transform: rotate(-90deg); /* Opera */
	-moz-transform: rotate(-90deg); /* Firefox */
/* End rotation */ 
}
#print-card-back-table {
	display:block;
	position:absolute;
	top:8px;
	table {
		margin:auto;
		margin-left:15px;
		table-layout: fixed;
		width: 320px;
		font-size:0.6em;
		.header-row th{
			border-bottom: 2px solid #000;
		}
		th, td {
			color: #000;
			text-align:right;
		}
		.footer-row td{
			border-top: 2px solid #000;
			font-weight: 700;
		}
	}	
}
#print-name-position {
	display:block;
}
#print-position{
	display:inline;
	padding-left:20px;
	color:#000;
	width:30px;
}
#print-player-name {
	display:inline-block;
	margin:0px 5px 0px 5px;
	width:260px;
	text-align:center;
	color: #C05052;
	font-size:1.5em;
}
.promo {
	font-size:0.8em;
	text-align:center;
}

/* Right sidebar */
.right-sidebar{
	position:absolute;
	top:0;
	right:0;
	width:350px;
	height:100%;
	background-color:#f1f1f1;
	border:1px solid #cccccc;
	border-radius:8px;
	padding:7px;
	input {
		margin-top:8px;
		padding:5px;
		font-size:1.3em;
	}
	a:link, a:visited,a:active {color:#94101b;}
	a:hover {color:#a1a1a1;}
}