*{
	margin:0px;
	padding:0px;
}


#container {
	width:990px;
	margin:0 auto;
	color:#fff;
}

#header {
	background-color: rgba(239,239,239,0.5);
	color:#fff;
}
h1{
	padding:10px;
}
#login {
	float:right;
	list-style-type: none;
	padding: 10px;
	li {
		display:inline;
		padding: 0px 5px 0px 5px;
	}
}

.content-block {
/*	background-color: rgba(245,245,245,0.5); */
	background-color: rgba(2,2,2,0.7);
	min-height:25px;
	margin-top:20px;
	border-radius: 8px;
	padding:10px 5px 10px 5px;
}
#player-list {
	float:right;
	width:49%;
	border:1px solid #fff;
}
#get-started {
	width:49%;
	border:1px solid #fff;
}
#create-player {
	text-align:left;
}
#player-position {
	float:right;
}
#baseball-field {
	background-image: url('/images/diamond.png');
	background-repeat: no-repeat;
	width:300px;
	height:250px;
	ul {
		list-style-type:none;
		text-align:center;
		padding-top:34px;
		padding-right:4px;
	}
}
#outfield li{
	float:right;
	width:33%;
}
#RF,#LF,#third,#first {
	padding-top:55px;
}
#infield {
	width: 37%;
	margin-left:auto;
	margin-right:auto;
	li{
		float:right;
		width:20%;
	}
}
#short, #second {
	padding-top: 20px;
}
#pitch {
	padding-top: 62px;
}
#catch {
	padding-top: 27px;
}