*{
	margin:0px;
	padding:0px;
}

/****  From Scaffold  ****/
body {
  background-color: #fff;
  color: #333;
  font-family: Trebuchet MS,Tahoma,Verdana,Arial,sans-serif;
  font-size:1.0em;
  line-height: 1.2em; 
}
p, ol, ul {
  font-family: Trebuchet MS,Tahoma,Verdana,Arial,sans-serif;
  font-size:1.0em;
  line-height: 1.2em; 
}
a {
  color: #FFA500;
  &:visited {
    color: #FFA500; }
  &:hover {
    color: #FF0000;} }
div {
  &.field, &.actions {
    margin-bottom: 10px; } }
#notice {
	background-color:rgba(239, 239, 239, 0.5);
	color: green;
}
#alert {
	background-color:rgba(239, 239, 239, 0.5);
	color: red;
}

/***********/

h2,h3 {
	padding:10px 0px 10px 0px;
}
input {
	padding:4px;
}

#container {
	width:990px;
	margin:0 auto;
	color:#fff;
}

#header {
	background-color: rgba(239,239,239,0.5);
	margin-top:25px;
	margin-bottom:5px;
	h1{
		padding:10px;
	}
	ul {
		float:right;
		list-style-type: none;
		padding: 4px 10px 3px 0px;
		li {
			display:inline;
			padding: 0px 5px 0px 5px;
		}
	}
}
.content-block {
/*	background-color: rgba(245,245,245,0.5); */
	background-color: rgba(2,2,2,0.6);
	min-height:350px;
/*	margin-top:20px; */
	padding: 10px 0px 10px 0px;
	border-radius: 8px;
}

#create-player {
	text-align:left;
}
#baseball-field {
	background-image: url('/images/diamond.png');
	background-repeat: no-repeat;
	width:300px;
	height:250px;
	ul {
		list-style-type:none;
		text-align:center;
		padding-top:34px;
		padding-right:4px;
	}
}
#outfield li{
	float:right;
	width:33%;
	margin:0px;
}
#RF,#LF,#third,#first {
	padding-top:55px;
}
#infield {
	width: 37%;
	margin-left:auto;
	margin-right:auto;
	li{
		float:right;
		width:20%;
	}
}
#short, #second {
	padding-top: 20px;
}
#pitch {
	padding-top: 62px;
}
#catch {
	padding-top: 27px;
}

/* Signup page */
.sign-in-block {
	position:relative;
	width:47%;
	min-height:340px;
	float:right;
	border:1px solid #fff;
	border-radius:8px;
	padding:0px 10px 0px 10px;
	margin:3px;
	ul {
		margin:5px;
		padding:5px;
	}
	li {
		margin-left:15px;
		font-size:16px;
	}
	div {
		padding:5px 0px 5px 0px;
	}
}

.third{
	width:25%;
	float:left;
	display:inline;
	padding:10px;
}
.two-thirds {
	width:70%;
	float:left;
	display:inline;
	padding:10px;
}
.bottom {
	position:absolute;
	bottom: 10px;
	left: 10px;
}
.required {
	color:red;
}


.card-front {
	background-image: url('/images/card-assets/tops_template.png');
	background-repeat: no-repeat;
	min-height: 350px;
	img {
		margin-left:22px;
		margin-top:78px;
		width: 205px;
	}
	.player-name {
		text-align:center;
		margin-top:0px;
		margin-left:22px;
		width: 205px;
		font-weight:bold;
		font-size:13px;
		line-height:16px;
	}
}

#player-stats {
	background-color:#000;
	height: 350px;
	color:#FFF;
}
#name-position {
	margin:0px 10px 0px 10px;
	padding:10px 0px 10px 0px;
	width:97%;
	td{
		font-size:22pt;
	}
}
#position {
	text-align:right;
}
.stats-head {
	margin:10px;
	padding:10px;
	border:none;
	font-size:18pt;
}
.header th {
	background-color:#CDCDCD;
}
.stats-table{
	font-size: 10pt;
	text-align: center;
	margin-left:10px;
}
#player-bio .attribute {
	text-align:right;
	.value {
		text-align:left;
	}
}
#bio-notes {
	font-size: 10pt;
	float:right;
	width: 75%;
	text-align:left;
	padding-right:10px;
	
}
.score-board {
	clear:both;
	width:100%;
	table {
		background-image:url('/images/scoreboard/light_bg.png');
		color:#fff;
		text-align:center;
		margin:auto;
	}
	th,td {
		border:1px solid #DCDCDC;
		padding:3px;
		font-size:14px;
		min-width:50px;
	}
	input {
		background-image:url('/images/scoreboard/light_bg.png');
		border: none;
		color:#fff;
		font-size:14px;
		text-align:center;
		padding:0px;
	}
}