*{
	margin:0px;
	padding:0px;
}

/****  From Scaffold  ****/
body {
  background-color: #fff;
  color: #333;
  font-family: Trebuchet MS,Tahoma,Verdana,Arial,sans-serif;
  font-size:1.0em;
  line-height: 1.2em; 
}
p, ol, ul {
  font-family: Trebuchet MS,Tahoma,Verdana,Arial,sans-serif;
  font-size:1.0em;
  line-height: 1.2em; 
}
a {
  color: #FFA500;
  font-size:0.8em;
  &:visited {
    color: #FFA500; }
  &:hover {
    color: #FF0000;} }
a.fake-button {
  color: #FFFFFF;
  &:visited {
    color: #FFFFFF; }
  &:hover {
    color: #1A1A1A;} }

div {
  &.field, &.actions {
    margin-bottom: 10px; } }
#notice {
	z-index:999;
	position:absolute;
	top:30px;
	right:10px;
}
#alert {
	background-color:rgba(239, 239, 239, 0.5);
	color: red;
}

/***********/

h2,h3 {
	padding:10px 0px 10px 0px;
}
input {
	padding:4px;
}

#container {
	width:990px;
	margin:0 auto;
	color:#fff;
}

#header {
	background-color: rgba(0,0,0,0.5);
	margin-top:15px;
	margin-bottom:5px;
	border-radius:8px;
	position:relative;
	h1 img{
		height:42px;
		width:626px;
		margin:10px 0px 3px 10px;
	}
	.sign-in-buttons {
		float:right;
		margin:15px 10px 0px 8px;
		list-style-type:none;
		li {display:inline;}	
	}

	#print-your-card {
		margin:0px 0px 0px 10px;
	}
}
#sub-nav {display:none;}
#sub-nav a{
	position:relative;
	display:block;
	background-color:#FFFFFF;
	border:1px solid #AAAAAA;
	padding:3px;
	z-index:9999;
	text-decoration:none;
	color:#000000;
	&:hover {
		color:#000000;
		background-color:#B0B0B0;
	}		
}


.content-block {
/*	background-color: rgba(245,245,245,0.5); */
	background-color: rgba(2,2,2,0.6);
	min-height:350px;
/*	margin-top:20px; */
	padding: 10px 0px 10px 0px;
	border-radius: 8px;
	position:relative;
}
#clear {clear:both;}

#create-player {
	text-align:left;
}
.options{
	margin-left:12px;
	font-size:0.8em;
}
#baseball-field {
	background-image: url('/images/diamond.png');
	background-repeat: no-repeat;
	width:300px;
	height:250px;
	ul {
		list-style-type:none;
		text-align:center;
		padding-top:34px;
		padding-right:4px;
	}
}
#outfield li{
	float:right;
	width:33%;
	margin:0px;
}
#RF,#LF,#third,#first {
	padding-top:55px;
}
#infield {
	width: 37%;
	margin-left:auto;
	margin-right:auto;
	li{
		float:right;
		width:20%;
	}
}
#short, #second {
	padding-top: 20px;
}
#pitch {
	padding-top: 62px;
}
#catch {
	padding-top: 27px;
}

/* Signup page */
.sign-in-block {
	position:relative;
	width:47%;
	min-height:340px;
	float:right;
	border:1px solid #fff;
	border-radius:8px;
	padding:0px 10px 0px 10px;
	margin:3px;
	ul {
		margin:5px;
		padding:5px;
	}
	li {
		margin-left:15px;
	}
	div {
		padding:5px 0px 5px 0px;
	}
}

.third{
	width:25%;
	float:left;
	display:inline;
	padding:10px;
}
.three-thirds{
	width:31%;
	float:left;
	display:inline;
	padding:10px;
}

.two-thirds {
	width:70%;
	float:left;
	display:inline;
	padding:10px;
}
.bottom {
	position:absolute;
	bottom: 10px;
	left: 10px;
}
.required {
	color:red;
}


.card-front {
	background-image: url('/images/card-assets/tops_template_front.png');
	background-repeat: no-repeat;
	min-height: 350px;
	overflow:hidden;
	position:relative;
	img {
		margin-left:22px;
		margin-top:77px;
		width: 205px;
	}
	.player-name {
		text-align:center;
		margin-top:0px;
		margin-left:22px;
		width: 205px;
		font-weight:bold;
		font-size:13px;
		line-height:16px;
	}
}

#card-options-wrapper{
	position:absolute;
	display:none;
	background-color:#696969;
	width:247px;
	height:35px;
	opacity:.8;
	filter:alpha(opacity=80); /* For IE8 and earlier */	
	ul{
		list-style-type:none;
	}
	li{
		float:right;
		width:16px;
		padding:3px;
		margin:5px 3px 5px;
		opacity:1.0;
	}
}

#player-stats {
	background-color:#000;
	min-height: 350px;
	color:#FFF;
}
#name-position {
	margin:0px 10px 0px 10px;
	padding:10px 0px 10px 0px;
	width:97%;
	td{
		font-size:22pt;
	}
}
#position {
	text-align:right;
}
.stats-head {
	margin:10px;
	padding:10px;
	border:none;
	font-size:18pt;
}
.header th {
	background-color:#CDCDCD;
}
.stats-table{
	font-size: 10pt;
	text-align: center;
	margin-left:10px;
}
#player-bio {
	padding-bottom:8px;
}
#player-bio .attribute {
	text-align:right;
	.value {
		text-align:left;
	}
}
#bio-notes {
	font-size: 10pt;
	float:right;
	width: 75%;
	text-align:left;
	padding-right:10px;
	
}
.score-board {
	clear:both;
	width:100%;
	table {
		background-image:url('/images/scoreboard/light_bg.png');
		color:#fff;
		text-align:center;
		margin:auto;
	}
	th,td {
		border:1px solid #DCDCDC;
		padding:3px;
		font-size:14px;
		min-width:50px;
		height:35px;
	}
	input {
		background-image:url('/images/scoreboard/light_bg.png');
		border: none;
		color:#fff;
		font-size:14px;
		text-align:center;
		padding:0px;
	}
}
#lets-get-started {
	padding-left:15px;
	font-size:0.9em;
	ol {margin:8px 0px 8px 20px;padding-left:30px;}
	li {padding-left:10px;}
}