<p><span style="font-weight:bold">Make Me A Baseball Card.com</span> wanted to ask:</p>

<p>Did you forget your password?</p>
<p>If yes, please click on the link below to change your password.</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>If no, please ignore this email.</p>
<p>Your password won't change until you access the link above and create a new one.</p>

<p>Thanks for using <span style="font-weight:bold">Make Me A Baseball Card.com</span>.  Game on!</p>